<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>com.multiplex</display-name>
  <welcome-file-list>
    <welcome-file>SearchBooking</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>SearchBooking</servlet-name>
  <servlet-class>com.multiplex.business.SearchBooking</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SearchBooking</servlet-name>
  <url-pattern>/searchBooking</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>SearchBooking2</servlet-name>
  <servlet-class>com.multiplex.business.SearchBooking2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SearchBooking2</servlet-name>
  <url-pattern>/searchBooking2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>DelTicket</servlet-name>
  <servlet-class>com.multiplex.business.DelTicket</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DelTicket</servlet-name>
  <url-pattern>/delTicket</url-pattern>
  </servlet-mapping>
</web-app>